/* <576px */
img {
    max-width: 100%;
}

#root .page {
    min-height: 100vh;
}

#header {
    padding: 0;
}

#header .ant-menu {
    line-height: 64px;
}

#footer {
    padding: 24px 0;
}

#logo {
    margin: 0;
    text-align: center;
}

.wrap .topics_list {
    background: #fff;
    padding: 0 10px;
}

.wrap .index_nav {
    margin-top: 10px;
}

.topic-tag {
    margin: 0 5px;
}

.from_now {
    text-align: right;
}

.index-pagination {
    border-top: 1px solid #f0f0f0;
    padding: 10px 5px;
    background: #fff;
    display: flex;
}

.index-pagination > ul {
    margin: auto;
}

#topic .ant-card {
    margin-top: 10px;
}

.user_page .ant-card {
    margin-top: 10px;
}

.user-details {
    text-align: center;
}

.wrap {
    margin: 0 5px;
}

/* >=576px */
@media all and (min-width: 576px) {
    .wrap {
        margin: 0 10px;
    }
}

/* >=768px */
@media all and (min-width: 768px) {
    .wrap {
        margin: 0 15px;
    }

    .wrap .topics_list {
        background: #fff;
        padding: 0 20px;
    }
}

/* >=992px */
@media all and (min-width: 992px) {
    .wrap {
        margin: 0 20px;
    }
}

/* >=1200px */
@media all and (min-width: 1200px) {
    .wrap {
        margin: 0 auto;
        width: 980px;
    }

    .wrap .topics_list {
        background: #fff;
        padding: 0 30px;
    }
}

/* >=1600px */
@media all and (min-width: 1600px) {
    .wrap {
        width: 1200px;
    }
}

.topic_link {
    color: #333;
}

.topic_link:hover {
    text-decoration: underline;
}
